Prefer RFC-3339 over ISO-8601

The image config's `created` property is defined as anything compatible with [ISO-8601](http://www.iso.org/iso/home/standards/iso8601.htm), but this should be restricted to date/time formats compatible with [section 5.6 of RFC-3339](https://tools.ietf.org/html/rfc3339#section-5.6).

The RFC-3339 format is compatible with, but stricter than, ISO-8601 format. It removes much ambiguity and undesired variability, such as 2-digit years or the time "24:00". It is also available freely on the Internet, unlike the ISO standard.


On Sat, Oct 15, 2016 at 04:30:44PM -0700, Adrian Colley wrote:
> The image config's `created` property is defined as anything
> compatible with ISO-8601, but this should be restricted to date/time
> formats compatible with section 5.6 of RFC-3339.

+1 to this, and the spec already uses the RFC for
org.opencontainers.created [1].  The only issue I can think of is
Docker compatibility, but I expect instances of ‘created’ in the wild
will satisfy the RFC.  All the entries in schema/config_test.go and
schema/manifest_backwards_compatibility_test.go do anyway, and the
JSON Schema date-time format we're using is based on the RFC [2,3].

[1]: https://github.com/opencontainers/image-spec/blob/v1.0.0-rc1/manifest.md#pre-defined-annotation-keys
[2]: http://json-schema.org/latest/json-schema-validation.html#anchor108
[3]: https://github.com/xeipuuv/gojsonschema/blob/00f9fafb54d2244d291b86ab63d12c38bd5c3886/format_checkers.go#L32


Good catch. These dates have always been `RFC3339Nanos` (in Go parlance).

@aecolley can you put up a PR? Moving this to rc4.